<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="CAManager"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Halimede CA">
         <property
               name="appName"
               value="Halimede CA">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/net.sourceforge.dkartaschew.halimede.e4rcp/default.css">
         </property>
         <property
	           name="applicationXMI"
	           value="net.sourceforge.dkartaschew.halimede.e4rcp/Application.e4xmi">
	     </property>
	     <property
               name="lifeCycleURI"
               value="bundleclass://net.sourceforge.dkartaschew.halimede.e4rcp/net.sourceforge.dkartaschew.halimede.ui.SaveHandlerProcessor">
         </property>
      </product>
    </extension>
</plugin>
