<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="CAManager"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="net.sourceforge.dkartaschew.halimede">
         <property
               name="appName"
               value="net.sourceforge.dkartaschew.halimede">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/net.sourceforge.dkartaschew.halimede.e4rcp/default.css">
         </property>
         <property
	           name="applicationXMI"
	           value="net.sourceforge.dkartaschew.halimede.e4rcp/Application.e4xmi">
	     </property>
         
      </product>
   </extension>

</plugin>
